html {
  height: 100%;
}
body {
  position: relative;
  padding: 0;
  /*background-color: #F6F6F6;*/
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 30px;
  /*color: #555;*/
  /*opacity: 0;*/
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
}
p {
  font-size: 13px;
  line-height: 22px;
}

.top-bar {
  width: 820px;
	height: 68px;
	background-color: #303030;
}

.current-time {
  /*color : #ffffff;*/
}

#logo {
  float: left;
  margin-top: 23px;
  margin-left: 31px;
}

#placeTag {
  float: left;
  margin-left: 50px;
  margin-top: 23px;
  width: 85px;
	height: 24px;
	border-radius: 12px;
	background-color: #f33c56;
}

#inspotTag {
  float: left;
  margin-left: 50px;
  margin-top: 23px;
  width: 85px;
	height: 24px;
	border-radius: 12px;
	background-color: #f33c56;
}

#settingButton {
  width: 32px;
	height: 32px;
  margin-right: 38px;
  margin-top: 23px;
}

/* */
#popPicture {
  float: left;
}
#gridPicture {
  float: left;
}
