#top-bar {
    float: left;
    margin-left: 0;
    margin-top: 0;
    width: 800px;
    height: 50px;
    background-color: #393948;
}

.placeContents {
  margin-top: 50px;
  margin-left: 150px;
}

.homeContents {
  margin-top: 10px;
  margin-left: 150px;
}

#inspotPlace {
  width: 300px;
  height: 50px;
  border-radius: 12px;
  border: solid 2px #418cff;
  font-size: 16px;
  font-weight: 100;
}
#inspotHome {
  width: 300px;
  height: 50px;
  border-radius: 12px;
  border: solid 2px #418cff;
  font-size: 16px;
  font-weight: 100;
}
#button1 {
  width: 10px;
  height: 50px;
  border-radius: 12px;
  background-color: #7589d3;
  color : #ffffff;
}
#button2 {
  width: 10px;
  height: 50px;
  border-radius: 12px;
  background-color: #7589d3;
  color : #ffffff;
}
#placeWord {
  margin-left: -5px;
  margin-top: 0;
  font-size: 20px;
  font-weight: 100;
  color: #303030;
  -webkit-text-stroke-color: #303030;
  -webkit-text-stroke-width: 1;
}
#homeWord {
  margin-left: -5px;
  font-size: 20px;
  font-weight: 100;
  color: #303030;
  -webkit-text-stroke-color: #303030;
  -webkit-text-stroke-width: 1;
}
#bold {
  font-size: 20px;
  font-weight: bold;
  color: #7589d3;
  -webkit-text-stroke-color: #7589d3;
  -webkit-text-stroke-width: 1;
}
