#placeWord {
  margin-left: -5px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 100;
  color: #303030;
  -webkit-text-stroke-color: #303030;
  -webkit-text-stroke-width: 1;
}
.placeContents {
  margin-left: 150px;
}
#homeWord {
  margin-left: -5px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
  color: #303030;
  -webkit-text-stroke-color: #303030;
  -webkit-text-stroke-width: 1;
}
.homeContents {
  margin-top: 10px;
  margin-left: 150px;
}

#inspotPlace {
  width: 300px;
  height: 50px;
  border-radius: 12px;
  border: solid 2px #418cff;
  font-size: 16px;
  font-weight: 100;
  padding-left: 20px;
}
#inspotHome {
  width: 300px;
  height: 50px;
  border-radius: 12px;
  border: solid 2px #418cff;
  font-size: 16px;
  font-weight: 100;
  padding-left: 20px;
}
#button1 {
  margin-top: 30px;
  width: 30px;
  height: 50px;
  border-radius: 12px;
  background-color: #7589d3;
  color : #ffffff;
}
#button2 {
  margin-top: 30px;
  width: 30px;
  height: 50px;
  border-radius: 12px;
  background-color: #7589d3;
  color : #ffffff;
}
#bold {
  font-size: 20px;
  font-weight: bold;
  color: #7589d3;
  -webkit-text-stroke-color: #7589d3;
  -webkit-text-stroke-width: 1;
}
